
@{
    ViewData["Title"] = "About";
}

<div>
    Credits
    <ul>
        <li>
            YOLOv3 Paper [<a href="https://arxiv.org/abs/1804.02767">Here</a>]
        </li>

        <li>
            Darknet Implementation [<a href="https://github.com/pjreddie/darknet">Here</a>]
        </li>
        <li>
            Darknet to Keras conversion [<a href="https://github.com/qqwweee/keras-yolo3">Here</a>]
        </li>
    </ul>
</div>

<div>
    This Project
    <div>
        <ul>
            <li>
                Github link for the YOLO model [<a href="https://github.com/marcu5fen1x/YOLO3-OpenImages">Here</a>]
            </li>
            <li>
                This site [<a href="https://github.com/marcu5fen1x/marcu5YOLO">Here</a>]
            </li>
        </ul>

    </div>
</div>

<div>
    About Me
    <ul>
        <li>
            Github [<a href="https://github.com/marcu5fen1x">Here</a>]

        </li>
        <li>
            LinkedIn [<a href="https://www.linkedin.com/in/aarav-pandya/">Here</a>]
        </li>
    </ul>
</div>